@font-face {
	font-family: "Geist";
	src: url("/fonts/Geist.ttf");
}

@font-face {
	font-family: "General Sans";
	src: url("/fonts/GeneralSans.ttf");
}

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi.ttf");
}
